/Practicas/Practica_2/nbproject/private/
/Practicas/Practica_2/build/
/Practicas/Practica_3/nbproject/private/
/Practicas/Practica_3/build/
/Practicas/Practica_4/nbproject/private/
/Practicas/Practica_4/build/
/Practicas/Practica_5/nbproject/private/
/Practicas/Practica_5/build/